@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

.nav-list svg,
.search svg,
.todo-utility svg {
  font-size: 1.3rem;
  color: white;
}
.nav-list li a,
.settings a {
  display: flex;
  width: fit-content;
  gap: 1rem;
  border-radius: 100px;
  transition: all 0.1s ease-in-out;
}

.nav-list li:hover,
.settings li:hover,
.todo-utility svg:hover {
  color: #bb241c;
}
@layer utilities {
  .calendar-icon::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
.todos {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}
